.skills-container {
    margin-bottom: 24px;
}
.skills-title {
    font-size: 18px;
    font-weight: 100;
    line-height: 1;
    margin: 0 0 8px 0;
}
.skills-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.skills-list-item {
    /* border: 1px solid rgba(0,0,0,.2); */
    /* border-radius: 6px; */
    display: inline-block;
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    font-weight: 700;
    line-height: 1;
    /* padding: 4px 8px; */
    position: relative;
}
.skills-list-item:not(:last-of-type)::after {
    color: rgba(0,0,0,.2);
    content: "~";
    /* padding-left: 8px; */
    /* position: absolute; */
    font-weight:300;
    margin: 0 16px;
}