.project-component {
    padding: 8px;
}
.project-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.project-item {
    height: 57vw;
    margin-bottom: 3rem;
}
@media (min-width: 896px) {
    .project-list {
        flex-direction: row;
    }
    .project-item {
        padding: 2px;
        width: 33.33%;
        height: 180px;
    }
}
.project-link {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.project-image-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.project-image {
    position: relative;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform .13s ease-in-out;
}
    .project-link:hover .project-image {
        transform: translateX(-50%) scale(1.1);
    }
@media (min-width: 768px) {
    .project-image.full {
        display: block;
    }
    .project-image.mobile {
        display: none;
    }
}
.project-screen {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(hsla(240, 100%, 15%, .7), 65%, hsla(240, 60%, 15%, .6));
}
.project-title {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #fafafa;
}