.projects {
    padding-top: 45px;
    overflow: hidden;
}

.projects p {
    margin: 0;
}

@media (min-width: 768px) {
    .special-margin-bottom {
        margin-bottom: 100px !important;
    }
}

.project-item {
    margin-bottom: 48px;
}

.project__visit-button {
    display: inline-block;
    padding: 2px 16px;
    margin-left: 32px;
    text-decoration: none;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .15);
}

.project__picture__container {
    position: relative;
    width: 100%;
    height: 100%;
}
.project__picture {
    margin: 0 auto;
    border-radius: 3px;
}
@media (min-width: 768px) {
    .project__picture {
        position: absolute;
        z-index: -1;
        width: auto;
        height: 100%;
    }
}

.project__picture-right {
    top: 0;
    left: 0;
}
.project__picture-left {
    top: 0;
    right: 0;
}
.project__picture-reverie {
    height: 240px;
}