#header {
    position: relative;
    
    #hero-background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 720px;
        padding: 64px 16px;
        position: relative;
    }

    .hero-flex {
        @media (min-width:768px) {
            display: flex;
            .right {
                margin-left: auto;
            }
        }
    }

    .hero-title {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 32px;
        margin: 0;
    }

    .media-list {
        list-style: none;
        line-height: 1;
        margin: 8px 0 0 0;
        padding: 0;
    }
    .media-list-item {
        display: inline-block;
        font-size: 24px;
    }
    .media-list-item:not(:first-of-type) {
        margin-left: 32px;
    }

    .navigation-main {
        margin: 8px 0 0 0;
    }
    .navigation-list {
        align-items: center;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        list-style: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }
    .navigation-list-item a {
        color: inherit;
        display: inline-block;
        padding: 4px 16px;
        position: relative;
        text-decoration: none;
    }
    .navigation-list-item:first-of-type a {
        padding-left: 0;
    }
    .navigation-list-item a::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 0px;
        height: 1px;
        background-color: currentColor;
        transition: width .3s;
    }
    .navigation-list-item a:hover::after {
        width: 100%;
    }

    .hero-paragraph {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 24px;
        font-weight: 900;
        margin: 32px 0 0 0;
    }
    
    .hero-currently {
        margin: 0;
    }
    
}