.education {
    padding: 8px;
}
.education .education-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.education .education-item {
    margin-bottom: 3rem;
}
.education .education-school {
    display: inline-block;
    margin-right: 24px;
    font-weight: 600;
}
.education .education-degree {
    font-weight: 400;
}
.education .education-time {}
@media (min-width: 768px) {
    .education .education-item {
        display: flex;
    }
    .education .education-time {
        width: 20%;
    }
    .education .education-school,
    .education .education-degree {
        width: 40%;
    }
}