.work-component {
    padding: 8px;
}
.work-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.work-item {
    margin-bottom: 3rem;
    border-radius: 1px;
}
.work-item-title {
    font-size: 1.2rem;
    margin-bottom: .2rem;
}
.work-item-time {
    display: block;
    margin-bottom: 8px;
    color: rgba(0,0,0,.65);
}
.work-item-description {
    margin: 0 0 8px 0;
}
.work-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.work-item ul li {
    display: inline-block;
    margin: 2px;
    padding: 4px 8px;
    font-size: .8rem;
    color: hsla(240, 5%, 20%, 1);
    background: hsla(240, 80%, 70%, .6);
    border-radius: 4px;
}