.about {
  position: relative;
  padding-top: 45px;
    overflow: hidden;
}

.about__picture {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    max-width: 400px;
    border-radius: 1px;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    clip-path: polygon(30% 10%, 90% 0, 97% 50%, 5% 97%);
    filter: saturate(60%);
}
@media (min-width: 768px) {
    .about__picture {
        position: relative;
        height: 100%;
        width: initial;
        max-width: initial;
    }
}


.picture-fade-enter {
    opacity: 0;
  }
  .picture-fade-enter.picture-fade-enter-active {
    opacity: .2;
    transition: opacity 1500ms ease-in;
  }
  .picture-fade-enter-done {
    opacity: .2;
  }