.about {
  position: relative;
  padding-top: 45px;
}
.about .container {
  position: relative;
}
.about .container::after {
  content: "";
  display: table;
  clear: both;
}
.about-title {
  color: #a4d8d3;
  font-weight: 800;
  text-transform: uppercase;
}

.about-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: block;
  margin: 0 auto;
  max-width: 360px;
  clip-path: polygon(30% 10%, 90% 0, 97% 50%, 5% 97%);
}
@media (min-width: 768px) {
  .about-description {
    float: left;
    max-width: 400px;
  }
}


.picture-fade-enter {
    opacity: 0;
  }
  .picture-fade-enter.picture-fade-enter-active {
    opacity: .1;
    transition: opacity 1500ms ease-in;
  }
  .picture-fade-enter-done {
    opacity: .1;
  }
  @media (min-width: 768px) {
    .picture-fade-enter.picture-fade-enter-active {
      opacity: .5;
      transition: opacity 1500ms ease-in;
    }
    .picture-fade-enter-done {
      opacity: .5;
    }
  }