.work {
    padding-top: 45px;
}

#scribble-container {
    width: 100%;
    min-height: 100px;
}

.work__item:not(:last-child) {
    margin-bottom: 24px;
}
.work__title {
    color: #44394c;
    line-height: 1;
}
.work__duration {
    display: block;
    color: #969da5;
    font-size: small;
    font-weight: 600;
    margin-bottom: 4px;
}
.work__description {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}