.work {
    padding-top: 45px;
}

#scribble-container {
    height: 100%;
    border: 4px double hsla(220, 70%, 5%, .5);
}

.work-item:not(:last-child) {
    margin-bottom: 24px;
}
.work-title {
    color: #44394c;
    line-height: 1;
}
.work-duration {
    display: block;
    color: #969da5;
    font-size: small;
    font-weight: 600;
    margin-bottom: 4px;
}
.work-description {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}