.home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home h1 {
    margin: 0;
    color: hsla(220, 20%, 10%, 1);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}
.home h1 .jonathon {
    font-weight: 300;
}
.home h1 .orsi {
    font-weight: 900;
}
.home h2 {
    margin: 0 0 16px 0;
    color: hsla(220, 20%, 20%, 1);
    font-size: 1.2em;
    text-transform: uppercase;
}

.link,
.link:link,
.link:visited {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: inherit;
    text-decoration: none;
}
.link-icon {
    display: inline-block;
    padding-top: 3px;
    margin-right: 8px;
    line-height: 1;
    white-space: nowrap;
}
.link-text {
}

@media (min-width: 768px) {
    .home__links-list {
        display: inline-flex;
    }
    .home__links-item {
        margin: 0 8px;
    }
    .link-text {
        overflow: hidden;
        width: 0px;
        transition: width .2s ease;
    }
    .link:hover .link-text {
        width: 60px;
    }
}