.home__header h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.home__header h1 .jonathon {
    font-weight: 300;
}
.home__header h1 .orsi {
    font-weight: 900;
}
.home__header h2 {
    margin: 0 0 16px 0;
    font-size: 1.2em;
}

.home__links-item a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) {
    .home__links-list {
        display: inline-flex;
    }
    .home__links-item {
        margin: 0 8px;
    }
}