.app {
    position: relative;
    z-index: 0;
}

.app-canvas-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.app-canvas-container #app-canvas {
    width: 100%;
    height: 100%;
}

.app main {
    position: relative;
    z-index: 2;
}
.app main section {
    margin-bottom: 5rem;
}
.app .section-title {
    text-align: center;
    font-style: italic;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .app .section-title {
        text-align: right;
        margin-right: 24px;
    }
}