.container {
    margin: 0 auto;
    max-width: 720px;
    padding: 0 16px;
}

.section {
    position: relative;
}
.section-title {
    color: #111;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 36px;
    margin: 0 auto 16px auto;
    text-transform: uppercase;
}

.flex {
    display: flex;
}
.align-items-center {
    align-items: center;;
}
.justify-content-center {
    justify-content: center;;
}
.row-reverse {
    flex-direction: row-reverse;
}

.mt-16 {
    margin-top: 16px;
}

@media (min-width:568px) {
    .sm-flex {
        display: flex;
    }
    .sm-ml-16 {
        margin-left: 16px;
    }
    .sm-mr-16 {
        margin-right: 16px;
    }
    .sm-pl-16 {
        padding-left: 16px;
    }
    .sm-pr-16 {
        padding-right: 16px;
    }
}

@media (min-width:768px) {
    .md-flex {
        display: flex;
    }
}