.container {
    margin: 0 auto;
    max-width: 720px;
    padding: 0 16px;
}

.section {
    position: relative;
}
.section-title {
    color: #111;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 36px;
    margin: 0 auto 16px auto;
    text-transform: uppercase;
}

.flex {
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
}
@media (min-width:568px) {
    .sm-flex {
        display: flex;
    }
}
@media (min-width:768px) {
    .md-flex {
        display: flex;
    }
}

.mt-16 {
    margin-top: 16px;
}