.work {
    padding-top: 45px;
}
.work-title {
    font-weight: 800;
    text-transform: uppercase;
}
.work .column {
    margin-bottom: 36px;
}
#canvas-container {
    height: 100%;
}

.work-item:not(:last-child) {
    margin-bottom: 36px;
}
.work-duration {
    display: block;
    margin-bottom: 8px;
    color: hsla(218, 100%, 40%, 1);;
    font-size: small;
    font-weight: 600;
    line-height: 1;
}
.work-company {
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
}
.work-position {
    font-weight: 400;
    line-height: 1;
}